.container {
    width: 1790px;
    padding-left: 100px;
    background-color: #FEFCF7;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    img {
        height: 35px;
        padding-top: 49px;
    }
    h2 {
        font-size: 45px;
        padding-left: 10px;
        color: #333D4B;
    }
    display: flex;
}
nav {
    display: flex;
    margin: 50px;
    margin-right: 100px;
    gap: 30px;
    a {
        font-size: 20px;
        color: #83888F;
        text-decoration: none;
    }
}
nav a:hover {
    color: #333D4B;
}
main {
    background-image: url("imglar/bitmap\(2\).svg");   
    background-size: cover;
    background-position: center;
    width: 1700px;
    height: 600px;
    border-radius: 15px;
}
.m-text {
    color: white;
    font-size: 24px;
    padding: 130px;
    h1 {
        margin-top: 10px;
        font-size: 100px;
        margin-bottom: 20px;
    }
    p {
        color: #FEFCF7;
    }
}
.chiziq {
    margin: 100px;
    margin-left: 120px;
    width: 1000px;
}
.aylana {
    display: flex;
    gap: 460px;
    position: absolute;
    margin-top: -125px;
    margin-left: 100px;
    img {
        height: 40px;
    }
}
section {
    margin-top: 250px;
    background-color: #333D4B;
    border-radius: 15px;
    height: 800px;
    width: 1700px;
}
.box {
    display: flex;
    padding-left: 100px;
    color: white;
    font-size: 30px;
    gap: 70px;
    p {
        font-size: 25px;
    }
    img {
        height: 70px;
    }
}
.menu {
    margin-top: 200px;
    margin-left: 100px;
    display: flex;
    gap: 200px;
}
.a01, .a02, .a03, .a04, .a05 {
    button {
        display: flex;
        gap: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 350px;
        height: 80px;
        font-size: 35px;
        padding: 20px;
        color: gray;
    }
}
.a01 button:hover, .a02 button:hover, .a03 button:hover, .a04 button:hover, .a05 button:hover {
    color: #333D4B;
}
.a1-text {
    display: flex;
    gap: 90px;
    h2 {
        color: gray;
        font-size: 60px;
    }
    img {
        width: 25px;
    }
}

.button button{
    font-size: 30px;
    height: 350px;
    width: 300px;
    border: none;
    border-radius: 15px;
    background-color: #F4F1EB;
    margin-right: 20px;
    p {
        font-size: 20px;
    }
}
.button button:hover {
    background-color: #FDD6BA;
    cursor: pointer;
}
.button button:focus {
    background-color: #0E8784;
    color: white;
}
.a {
    margin-left: 650px;
    margin-top: 70px;
}
.a2-text {
    display: flex;
    gap: 355px;
    h2 {
        color: gray;
        font-size: 60px;
    }
    img {
        width: 25px;
    }
}
.a3-text {
    display: flex;
    gap: 187px;
    h2 {
        color: gray;
        font-size: 60px;
    }
    img {
        width: 25px;
    }
}
.a4-text {
    display: flex;
    gap: 277px;
    h2 {
        color: gray;
        font-size: 60px;
    }
    img {
        width: 25px;
    }
}
.a5-text {
    display: flex;
    gap: 130px;
    h2 {
        color: gray;
        font-size: 60px;
    }
    img {
        width: 25px;
    }
}
.oxiri {
    margin-top: 100px;
    margin-left: 650px;
    margin-right: 200px;
    font-size: 40px;
    background-color: #333D4B;
    border-radius: 15px;
    color: white;
    padding: 30px;
    h4 {
        color: gray;
        font-size: 20px;
    }
}
.cr{
    margin-left: 1290px;
    margin-top: 70px;
    border: none;
    border-radius: 10px;
    background-color: #0E8784;
    color: white;
    font-size: 25px;
    padding: 20px;
    width: 300px;
    cursor: pointer;
}
.cr:hover{
    background-color: #66D2CF;
}
footer {
    background-color: #333D4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;
    margin-right: 100px;
    padding: 20px;
    .logo2 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 50px;
        img {
            height: 40px;
        }
        h2 {
            color: white;
            font-size: 45px;
        }
    }
    .nav2 {
        display: flex;
        gap: 30px;
        a {
            font-size: 20px;
            color: gray;
            text-decoration: none;
        }
    }
}
.icons {
    height: 35px;
    margin-right: 50px;
}
.nav2 a:hover {
    color: white;
}
.icons:hover {
    cursor: pointer;
}